* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar {
  display: flex;
  gap: 2px;
  background-color: #a7c4bc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.section {
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: 500;
  color: #2c584c; /* Koyu yeşil text */
}

.section:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.section.active {
  background-color: #00875A;
  color: white;
}

/* Settings styles */
.settings-container {
  max-width: 80%;
  margin: 0 auto;
  height: calc(100% - 20px);
  overflow-y: auto;
  padding-right: 10px;
}

.settings-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}

.settings-group {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.settings-group:last-child {
  margin-bottom: 0;
}

.group-title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #00875A;
  font-size: 16px;
  margin-bottom: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.2s ease;
  height: 35px;
}

.input-group input:focus {
  outline: none;
  border-color: #00875A;
  box-shadow: 0 0 0 2px rgba(0, 135, 90, 0.1);
}

.input-group input::placeholder {
  color: #757575;
}

.save-button {
  width: 100%;
  padding: 10px;
  background-color: #00875A;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 16px;
}

.save-button:hover {
  background-color: #007048;
}

.container {
  background-color: white;
  border-radius: 8px;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}

.container.hide {
  display: none;
}

.usb-select-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}

.usb-select-container span {
  color: #00875A;
  font-size: 16px;
}

.usb-select-container select {
  flex: 1;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 14px;
  height: 35px;
  background-color: white;
  cursor: pointer;
}

.usb-select-container select:focus {
  outline: none;
  border-color: #00875A;
  box-shadow: 0 0 0 2px rgba(0, 135, 90, 0.1);
}

.ip-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}

.ip-container span {
  color: #00875A;
  font-size: 16px;
}

.ip-container .ip-value {
  color: #333;
  font-weight: 500;
  background-color: white;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  flex: 1;
  height: 35px;
  line-height: 20px;
}

/* Scroll bar stilini özelleştir */
.settings-container::-webkit-scrollbar {
  width: 8px;
}

.settings-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.settings-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.settings-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
